<div class="jumbotron">
    <h1>TrustPilot API POC</h1>
</div>

<div class="container">
    <div class="row">

        <div class="col">
            <h2>ERROR</h2>
            <p>Something went wrong... check the logs!</p>
            <ul>
                <p>{{error}}</p>
            </ul>


        </div>
    </div>
</div>