<div class="jumbotron">
        <h1>TrustPilot API POC</h1>
    </div>

<div class="container">
<div class="row">

<div class="col">
    <h2>Some Reviews</h2>
    <ul>
        {{#each data}}
        <li><p>{{text}}</p></li>
        {{/each}}
    </ul>


</div>
</div>
</div>
{{!-- <script src="public.js"></script> --}}